@model BExIS.Modules.VAT.UI.Models.EditModel

@section scripts
{
    <script src="@Url.Content("~/Areas/VAT/UI/Scripts/geoengine.js")" type="text/javascript"></script>

}

<div id="container" >

    @Html.Partial("_view", Model)

</div>

<style>
    #container {
        text-align: left;
        background-color:white;
        padding:5px;
    }

    #container table {
        margin: 10px 0;
        width: fit-content;
    }

    #container td {
       width:auto;
    }


</style>