@model long?
@using BExIS.UI.Helpers;
@{
    ViewBag.Title = "Index2";
}

@{
    Layout = "~/Themes/Default/Layouts/_svelteLayout.cshtml";
}

<h2>Index2</h2>


@section scripts
{
    @Html.SvelteVatScript()
}

@Html.SvelteVatForm(Model)
